body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;}

.barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    background-color: #005185; 
}

.barnav img {
    height: 50px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    margin-right: 40px;
    gap: 80px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #F4B340;
    border-radius: 40px;
    border: 2.5px solid black;
}

.nav-links a:hover {
    background-color: #bd7802;
}

section {
    padding: 20px;
    margin: 10px;
}

section img {
    width: 100%;
    height: auto; 
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 55px;
    color: #000000;
    text-align: center;
}

h2 {
    color: #333;
}

section p {
    text-align: justify;
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.read-more {
    padding: 10px 15px;
    font-weight: bold;
    color: #000000;
    background-color: #F4B340;
    text-decoration: none;
    border-radius: 40px;
    border: 2.5px solid black;
}

footer {
    background: #005185;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left, .footer-right {
    flex: 1;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-content p {
    margin: 5px 15px;
    font-size: 15px; 
}

.footer-content a {
    color: #fff;
    text-decoration: underline;
}
