body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.barnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
    background-color: #005185; 
}

.barnav img {
    height: 50px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    margin-right: 40px;
    gap: 80px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #F4B340;
    border-radius: 40px;
    border: 2.5px solid black;
}

.nav-links a:hover {
    background-color: #bd7802;
}

section {
    padding: 20px;
    margin: 10px;
}
section img {
    width: 100%;
    height: auto; 
}

h1 {
    font-size: 55px;
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
}

section p {
    text-align: justify;
}

section a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}